header, footer{
    background-color: rgba(144, 47, 235, 0.717);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.main-form {
    display: flex;
    flex-direction: column;
    
}

.main-form label, .main-form div{
    margin-top: 20px;
}

.main-form input[type="text"],
.main-form input[type="email"],
.main-form input[type="date"],
.main-form select,
.main-form input[type="number"]{
    background-color:#eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    
}

table tr {
    text-align: center;
}

.main-form input[type="submit"]{
    border: none;
    color: #000;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: 2rem 1px ; 
    box-shadow: 1px 1px 4px #999;
}

.main-form section:required{
    border-bottom: solid 5px red ;
}

.main-form section:required:valid{
    border-bottom: solid 5px green;
}