@media only screen and (max-width: 700px) {
    header{
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    

   
    .off-screen-menu{
        background-color: var(--color3);
        opacity: 80%;
        border: 0.1px solid white;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        border-radius: 5px;
        transition: 0.3s ease;

        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              
    }
    

    .off-screen-menu .active{
        margin-right:0 ;
    }


    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        
    }

    div .line{
        background-color: var(--color2);
        height: 3px;
        width: 20px;
        margin: 2px 5px;
        border-radius: 1px;
        z-index: 1;
    }
    
    .hamburguer{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin-left: auto;
     
        margin-right: 5%;
    }

    .hamburguer.active + .off-screen-menu,
    .off-screen-menu.active {
            display: block;
    }
}